/* ==========================================
   نظام الحماية المتقدم (CSS Security System)
========================================== */
* {
    -webkit-tap-highlight-color: transparent; 
    /* منع التحديد والنسخ نهائياً في جميع المتصفحات */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* منع سحب الصور والروابط لسطح المكتب أو علامات تبويب أخرى */
img, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* استثناء لحقول الإدخال (إذا تمت إضافتها لاحقاً) للسماح بالكتابة بداخلها */
input, textarea {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}